<style>
    button>img {
        height: 24px;
        padding: 7px 0px 7px 0px;
        margin: 0;
        vertical-align: middle;
        border: 1px solid grey;
        border-radius: 5px;
        background-color: white;
    }
</style>
<h3>💻 Laptop</h3>

<img src="../assets/images/doutrina-demo.gif" alt="Demonstração da Interface" style="height: 100%;">

<h4>Botões</h4>
<h5>Menu Lateral</h5>
<button><img src="../assets/images/menu.svg" alt="Abrir Menu Lateral"></button>
<button><img src="../assets/images/close.svg" alt="Fechar Menu Lateral"></button> Abrir / Fechar Menu Lateral
<br>
<button><img src="../assets/images/typo-menu.svg" alt="Ajustes Tipográficos"></button> Ajustes tipográficos
(fonte, tamanho, espaçamento, cor de fundo)
<hr>
<h5>Barra superior</h5>
<button><img src="../assets/images/label.svg" alt="Mostrar Etiquetas"></button>
<button><img src="../assets/images/label-off.svg" alt="Esconder Etiquetas"></button> Alternar visibilidade de
Etiquetas
<br>
<button><img src="../assets/images/dark.svg" alt="Modo Escuro"></button>
<button><img src="../assets/images/light.svg" alt="Modo Claro"></button> Alternar Modo Escuro / Claro<br>
<!--
    <p><button><img src="../assets/images/fullscreen.svg" alt="Tela Cheia"></button>
        <button><img src="../assets/images/normal-screen.svg" alt="Tela Normal"></button>Alternar Tela Cheia / Normal
    </p> -->
<button><img src="../assets/images/back.svg" alt="Voltar Página"></button>Voltar Página (Complementar)<br>
<button><img src="../assets/images/wiki.svg" alt="Enciclopedia"></button>Enciclopédia<br>
<button><img src="../assets/images/dicio.svg" alt="Dicionário"></button>Dicionário<br>
<!--
        <p><button><img src="../assets/images/share.svg" alt="Compartilhar"></button>Compartilhar</p>
-->
<hr>
<h5>Aba de Anotações</h5>
<button><img src="../assets/images/hypo-sidebar.svg" alt="Alternar Mostrar Barra"></button>Alternar Mostrar Barra<br>
<button><img src="../assets/images/hilite.svg" alt="Alternar Mostrar Grifos"></button>Alternar Mostrar Grifos<br>
<button><img src="../assets/images/hypo-note.svg" alt="Nova Nota"></button>Nova Nota<br>

<h4>Dicas para melhor experiência no Laptop:</h4>
<ul>
    <li>Use o botão <strong>Aa</strong> para ajustar fonte, tamanho e espaçamento</li>
    <li>Mantenha a Coluna Complementar aberta enquanto lê</li>
    <li>Ative o Modo Escuro se preferir (botão na barra superior)</li>
    <li>Oculte o menu lateral para ganhar mais espaço no texto</li>
</ul>

<p><strong>Bom estudo!</strong></p>