    <h3><span class="emoji">📚</span> Livros</h3>
    <p>
        <a title="O Livro dos Espíritos" href="../books/1-lde.html">
            <span class="emoji">👻</span>&nbsp;O Livro dos Espíritos
        </a>
    </p>
    <p>
        <a title="O Livro dos Médiuns" href="../books/2-ldm.html">
            <span class="emoji">✒️</span>&nbsp;O Livro dos Médiuns
        </a>
    </p>
    <p>
        <a title="O Evangelho segundo o Espiritismo" href="../books/3-ese.html">
            <span class="emoji">🕊️</span>&nbsp;O Evangelho
        </a>
    </p>
    <p>
        <a title="O Céu e o Inferno" href="../books/4-ceu.html">
            <span class="emoji">🔥</span>&nbsp;Céu e Inferno
        </a>
    </p>
    <p>
        <a title="A Gênese" href="../books/5-gen.html">
            <span class="emoji">🌱</span>&nbsp;A Gênese
        </a>
    </p>
<br>